FIREBASE_ENABLED=false
FIREBASE_DB_URL=https://YOUR_PROJECT_ID-default-rtdb.firebaseio.com
# Use one of the two service-account options below:
# GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/firebase-service-account.json
# FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}

AUTH_ENABLED=true
API_ACCESS_KEY=
